/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Bellefair', serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Cinzel', serif; */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Section Header */
.section__header {
  background: url(../images/header-bg.png) no-repeat left / cover;
  padding: 50px 0 285px 0;
}

/* Navbar */
.nav__bar {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 200px;
}

.nav__bar--logo-box {
  max-width: 260px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #fff;
}

.nav__bar--logo-box img {
  width: 100%;
  height: 100%;
  display: block;
}

.nav__bar--links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav__bar--link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  transition: all .3s ease-in-out;
}

.nav__bar--link:hover {
  color: #E1A122;
}

.nav__bar--contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 27px;
}

.nav__bar--contact-btn {
  text-decoration: none;
  background: #3695D2;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  padding: 16px 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.nav__bar--contact-btn:hover {
  background: transparent;
  border-color: #3695D2;
}

.nav__bar--contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
}

.nav__bar--contact-phone-img-box {
  width: 34px;
  height: 55px;
}

.nav__bar--contact-phone-img-box img {
  width: 100%;
  height: 100%;
}

.nav__bar--contact-text {
  color: #fff;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Bellefair', serif;
}

.nav__bar--contact-number {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
}

/* Hero */
.hero__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero__container--content {
  max-width: 600px;
}

.hero__container--sub-title {
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: 'Cinzel', sans-serif;
  color: #3695D2;
  position: relative;
}

.hero__container--sub-title::after {
  content: "";
  width: 63px;
  height: 2px;
  background: #3695D2;
  position: absolute;
  right: -90px;
  top: 50%;
  transform: translateY(-50%);
}

.hero__container--title {
  font-size: 85px;
  line-height: 94px;
  font-weight: 400;
  color: #fff;
  font-family: 'Cinzel', sans-serif;
  margin-bottom: 10px;
}

.hero__container--title span {
  display: block;
}

.hero__container--sub-text {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
}

.hero__container--link-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  max-width: 260px;
  padding: 16px 25px;
  background: #3695D2;
  border: 1px solid transparent;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  transition: all .3s ease-in-out;
}

.hero__container--link-btn:hover {
  border-color: #3695D2;
  background: transparent;
}

.hero__container--link-btn span {
  font-family: inherit;
}

.hero__container--link-btn img {
  width: 13px;
  height: 11px;
}

/* Section Twin */
.section__twin {
  position: relative;
  background: #F9F9F9;
  padding: 20px 20px 160px 20px;
}

.section__twin--bg-img-box {
  position: absolute;
  bottom: 0;
  right: -395px;
  overflow: hidden;
  width: 870px;
  height: 800px;
  /* z-index: -1; */
}

.section__twin--bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Services Container  */
.services__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1258px;
  margin: -125px auto 60px auto;
  position: relative;
  padding-bottom: 60px;
}

.swiper.swiper-grid {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide.swiper-grid-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;
  /* height: calc((100% - 30px) / 2) !important; */
  height: auto;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-grid-pagination {
  bottom: 0 !important;
}

.swiper-grid-pagination .swiper-pagination-bullet {
  background: #3695D2;
  opacity: 1;
  width: 24px;
  height: 24px;
}

.swiper-grid-pagination .swiper-pagination-bullet-active {
  background: #E1A122;
  opacity: 1;
}

.services__card {
  width: 48%;
  background: #FFFFFF;
  padding: 42px 62px 48px 34px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
}

.services__card-arrow-img-box {
  background: #3695D2;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
  padding-right: 10px;
  width: 82px;
  height: 82px;
  position: absolute;
  right: -20px;
  bottom: -30px;
}

.services__card-arrow-img {
  width: 18px;
  height: 17px;
}

.services__card--content {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.services__card--content-img {
  width: 58px;
  height: 59px;
  object-fit: contain;
}

/* .services__card--text-box {} */

.services__card--text-box h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #00204C;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  margin-bottom: 12px;
}

.services__card--text-box p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #575D6E;
}

/* About Container */
.about__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

.about__container--wrapper {
  display: flex;
  align-items: center;
  background: #fff;
}

.about__container--left {
  width: 50%;
  position: relative;
}

.about__container--left-img {
  width: 100%;
  height: 100%;
}

.about__container--left-content-box {
  background-color: #3695D2;
  max-width: 237px;
  padding: 40px 20px 35px 20px;
  text-align: center;
  position: absolute;
  bottom: -50px;
  left: -50px;
}

.about__container--left-content-box h1 {
  font-family: 'Bellefair', serif;
  font-size: 75px;
  line-height: 80px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
}

.about__container--left-content-box p {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}

.about__container--right {
  width: 50%;
  padding: 0 50px 0 35px;
}

.about__container--right-title {
  font-family: 'Cinzel', sans-serif;
  font-size: 45px;
  line-height: 50px;
  font-weight: 400;
  color: #00204C;
  text-transform: uppercase;
  padding-bottom: 25px;
  margin-bottom: 28px;
  position: relative;
}

.about__container--right-title::after {
  content: "";
  width: 63px;
  height: 2px;
  background: #E1A122;
  position: absolute;
  left: 0;
  bottom: 0;
}

.about__container--right-subtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 400;
  color: #575D6E;
  margin-bottom: 18px;
}

/* .about__list--container {} */

.about__list--item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about__list--item:not(:last-child) {
  margin-bottom: 20px;
}

.about__list--item span {
  display: inline-block;
  width: 10px;
  height: 15px;
  border: 2px solid #E1A122;
}

.about__list--item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #575D6E;
}

.about__btns-container {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 50px;
}

.about__btn--dark {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  background: #3695D2;
  padding: 15px 25px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

/* .about__btn--dark span {} */

.about__btn--dark img {
  width: 13px;
  height: 11px;
}

.about__btn--light {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  padding: 15px 25px;
  color: #00204C;
  border: 1px solid #00204c;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

/* .about__btn--light span {} */

.about__btn--light img {
  width: 13px;
  height: 11px;
}

/* Experience */
.experience {
  background: url(../images/exp-bg.png) no-repeat center / cover;
  min-height: 824px;
}

.experience__contaienr {
  padding: 105px 0 50px 0;
  text-align: center;
  max-width: 1020px;
  margin: 0 auto;
}

.experience__contaienr--title {
  font-family: 'Bellefair', sans-serif;
  font-size: 45px;
  line-height: 50px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 17px;
  margin-bottom: 30px;
  position: relative;
}

.experience__contaienr--title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 63px;
  height: 2px;
  background: #3695D2;
}

.experience__contaienr--subtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}

.experience__card--container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.experience__card {
  display: flex;
  justify-content: center;
  gap: 15px;
  background: #3695d2c2;
  width: 25%;
  padding: 45px 23px;
}

.experience__card img {
  width: 49px;
  height: 48px;
  object-fit: contain;
}

/* .experience__card--content {} */

.experience__card--content h2 {
  font-family: 'Bellefair', sans-serif;
  font-size: 45px;
  line-height: 50px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
}

.experience__card--content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}

/* Video Section */

.video {
  max-width: 1300px;
  height: 582px;
  margin: -250px auto 90px auto;
  position: relative;
}

.video__overlay--img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.video__overlay--img-hidden {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.video__player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__play--btn {
  background: transparent;
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 120px;
  height: 120px;
  z-index: 100;
  border-radius: 50%;
}

.video__play--btn img {
  width: 100%;
  height: 100%;
}

.video__play--btn-hidden {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}